.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
    margin: 1.5em;
    padding: 1.25em;
}


.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}


.descricao__titulo{
    color: var(--laranja);
    font-size: 16px;
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: .5em 0;
}

.descricao__texto {
    font-size: 14px;
}


.botoes__item {
    margin: 0 .25em;
}

.botoes__ancora {
    background-color: var(--laranja);
    color: var(--branco);
    padding: 1em 1.6em ;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.descricao__estrelas{
    padding-bottom: 0.25em;
}

@media screen and (min-width: 1024px) {
    .card {
        max-width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width:1728px){
    .descricao__titulo {
        font-size: 24px;
    }

    .descricao__texto {
        font-size: 16px;
    }

    .descricao {
        margin-right: 1em;
    }

    .card{
        width: 60%;
        margin-left: 3em;
    }

}